<!-- file name : resources.html -->
<!-- Author : Zeinab Abdallaziz Ahmed  -->
<!-- created 6/26/2024 last & modification at 6/28/2024 -->
<!-- the perpus of this file is  to structure sudents organization page -->
{% extends 'base.html' %}
{% block main %}
<div class="one">
    <img src="{{url_for( 'static' , filename='imgs/img1.jpg' )}}">
    <p>Books to Motivate Students</p>
</div>
<div class="two">
    <p>We need books to motivate students for a variety of reasons. <br>Not just to help them study, but to help them
        choose a direction in life.<br> To help them understand themselves and the world around them.<br><br>

        And ultimately to motivate them to become the best version<br> of themselves that they can be.</p>
</div>
<div class="three">
    <br><br>
    <br<br><br>
        <h1>Motivation</h1><br><br>
        <p>Being motivated allows us to change our behaviors, achieve goals, <br><br>develop interests, and become more
            curious. To
            <br><br>bring our talents to fruition, see ourselves being successful in the future.
            <br><br><br> A student will be motivated if they take ownership of what they are <br><br>
            learning. Not just what they are told to learn, but being inspired to<br><br> read around a subject, and
            immerse themselves in it.
            <br><br><br> The right book at the right time has the potential to be life-changing. <br><br>You will come
            across books by accident,
            you will have them pushed <br><br>into your hands by teachers, friends, and family - a lot of people
            have<br><br>
            books that helped them along the way<br<br>These books are just some of <br><br>my suggestions and I hope
                you find them useful as you set off on your<br><br> own journey.
        </p>
</div>
<div class="four">
    <p>
        <br> The Power of Moments, <br>by Chip Heath and Dan Heath
    </p>

    <img src="{{url_for( 'static' , filename='imgs/proxy-image (2).jfif' )}}">

</div>
<div class="five">
    <p>
        <br> Educated
    </p>

    <img src="{{url_for( 'static' , filename='imgs/proxy-image (4).jfif' )}}">

</div>

<div class="sex">
    <p>
        <br> Deep Work
    </p>

    <img src="{{url_for( 'static' , filename='imgs/proxy-image (5).jfif' )}}">

</div>
<div class="seven">
    <p class="e">
        <br> Thinking Fast & Slow
    </p>

    <img src="{{url_for( 'static' , filename='imgs/proxy-image (6).jfif' )}}">

</div>
<div class="eight">
    <p>
        <br> 80/20 Principle
    </p>

    <img src="{{url_for( 'static' , filename='imgs/proxy-image (7).jfif' )}}">

</div>
{% endblock %}