<!-- file name : std_org.html -->
<!-- Author : Nosiba Elmokashfi Musa -->
<!-- created : 25/6/2024 
  last modification : 27/6/2024 -->
<!-- perpus: to structure sudents organization page -->

{% extends 'base.html' %}

{% block main %}
<img src="{{ url_for('static' , filename='imgs/proxy-image (10).jfif') }}" id="pic">
<div class="container">
    <h1>Study organization importance:</h1>
</div>
<article>
    <p class="one">
        Study organization is essential for students to achive academic success and minimize effort ,
        by effectively organize study materials, sechedules and tasks, students can optimize thier
        time and resources, leading to better productivity <br>and efficiency.<br>
        <span>here we show some tips you can follow to organize your study to better productivity and efficiency
            and achive academic success:</span>
    </p><br><br>
    <h3>Providing A Suitable study Environment </h3>
    <p class="two">
        <br>Choose a quite place free from distractions and noise to study and make sure the lighting is
        appropriate and doesn’t strain your eyes.
    </p>
    <br><br>
    <h3>Effective Time Management </h3>
    </p>
    <br>
    <p class="three">Set specific times to work on each task and assess your progress.</p>
    <p class="four">Avoid procrastination and use time management techniques to divide
        into short periods of work followed by breaks.</p>
    <br><br>
    <h3>Creating A timetable</h3>

    <br>
    <p class="five">Creating a daily or weekly timetable that specifies study times
        and allocatedperiods for each subject or topic.</p>
    <p class="six">Consider lecture times, study sessions, assignments and breaks.</p>

    <br><br>
    <h3>Good sleep</h3>
    <br>
    <p class="seven">
        Maintain a regular and sufficient sleep pattern, as sleep plays crucial role in newing energy,
        improving memory and enhancing focus.
    </p>
    <br>
    <p class="eight">By following these tips you can achieve excellent academic challenges with confidence.<br><br>
    </p>
</article>

{% endblock %}