<!-- file name : study_timetable.html -->
<!-- Author : Nosiba Elmokashfi Musa -->
<!-- created : 27/6/2024 
  last modification : 27/6/2024 -->
<!-- perpus: to structure sudents organization page -->

{% extends 'base.html' %}

{% block main %}
{% if user.is_authenicated %}
<div class="tim-cont">
  <h1>Create Your Study Timetable</h1>
  <div class="logout">
    <a href="./logout" class="logout-btn">logout</a>
  </div>
  <form id="timetable-form" method="post">
    <input type="hidden" name="id" id="tId">
    <input type="text" name="day" id="day" placeholder="Day" required>
    <input type="text" name="time" id="time" placeholder="Time" required>
    <input type="text" name="subject" id="subject" placeholder="Subject" required>
    <button type="submit" name="create">add</button>
  </form>
</div>
{% endif %}

{% for post in posts %}
<div>
  <table>
    <thead>
      <tr>
        <th>Day</th>
        <th>Time</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{post.day}}</td>
        <td>{{post.time}}</td>
        <td>{{post.subject}}</td>
      </tr>
    </tbody>
  </table>
</div>
{%endfor%}

{% endblock %}