* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-style: italic;
  background-color: rgba(210, 210, 233, 0.082);
}

header img {
  /* background-color: rgba(0, 0, 0, 0.123); */
  border-radius: 50%;
  margin: 3px 3px 0px 2px;
  display: inline;
  float: left;
}

header h2 {
  font-weight: bold;
  display: inline;
  float: left;
  margin-top: 15px;
  height: 50px;
  width: 80px;
  /* color: rgb(250, 248, 248); */
}

header h2:hover {
  color: rgb(214, 181, 118);
}


header {
  background-color: rgb(202, 200, 211);
  position: absolute;
  width: 100%;
  background-color: rgb(202, 200, 211);
  /* color: rgb(248, 241, 241); */
}

.menu {
  width: 400px;
  float: left;
  height: 70;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 2px 10px 12px 130px;

  /* background-color: aquamarine;   */
  /* margin: 3px 5px 150px 70px ; */
}

ul li {
  list-style: none;
  font-size: 20px;
  margin-top: 0px;
  margin-left: 7px
}

ul li a {
  text-decoration: none;
  color: rgb(34, 32, 32);
  margin: 0px 40px 3px 40px;
  /* margin-bottom: 100px;  */
}

ul li a:hover {
  background-color: rgba(36, 36, 161, 0.096);
  color: white;
  padding: 15px;
  font-weight: bold;
}

ul li button a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 7px;
  margin: 2px;
}

ul li button a:hover {
  color: white;
  padding: 3px;
  width: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul li button {
  border: none;
  border-radius: 10px;
  width: 90px;
  padding: 7px;
  margin: 8px;
  /* background-color: rgb(40, 123, 125) */
  background-color: rgb(175, 133, 54);
}

ul li button:hover {
  filter: brightness(90%);
}

#pic {
  margin-top: 100px;
  margin-left: 20px;
  display: inline;
  border-radius: 30px;
}

#pic:hover {
  /* filter:brightness(50%); */
  filter: blur(1px);
  border: 1px solid white;
  /* padding: 1px; */
}


.one img {
  width: 500px;
  margin: 20px 0px 20px 350px;
}

.one img:hover {
  filter: brightness(50%);
  border: 1px solid black;
  padding: 1px;
  border-radius: 15px;
}

.one {
  margin: 10px;
  margin-left: 70px;
  padding: 10px;
}

.one p {
  background-color: rgb(52, 52, 63);
  color: white;
  padding: 20px;
  font-size: 25px;
  border-style: hidden;
  margin: 10px 30px 10px auto;
  /* margin-right: 30px; */
  font-style: italic;
}

.one h5 {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 400px;
  margin-top: 120px;
  font-size: 40px;
  text-shadow: 2px 2px;
  font-style: italic;


}

h4 {
  display: inline;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 100px 0px 30px 20px;
  /* margin-left: 20px; */
  font-style: italic;
  /* margin-bottom: 30px; */
  color: rgb(45, 45, 95);
  text-shadow: 2px 2px;


}

.two img {
  width: 500px;
  margin-bottom: 20px;
  margin-left: 350px;
}

.two img:hover {
  padding: 1px;
  filter: brightness(50%);
  border: 1px solid black;
  border-radius: 15px;
}

.two {
  margin: 10px;
  margin-left: 70px;
}

.two p {
  background-color: rgb(52, 52, 63);
  color: white;
  padding: 20px;
  font-size: 25px;
  border-style: hidden;
  margin-right: 30px;
  font-style: italic;

}

.two h5 {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 470px;
  /* margin-top: 100px; */
  margin: 100px 0px 30px 470;
  font-size: 40px;
  text-shadow: 2px 2px;
  font-style: italic;


}

.three img {
  width: 500px;
  margin-bottom: 20px;
  margin-left: 350px;
}

.three img:hover {
  padding: 1px;
  filter: brightness(50%);
  border: 1px solid black;
  border-radius: 15px;
}

.three {
  margin: 10px;
  margin-left: 70px;

}

.three p {
  background-color: rgb(52, 52, 63);
  color: white;
  padding: 20px;
  font-size: 25px;
  border-style: hidden;
  margin-right: 30px;
  font-style: italic;

}

.three h5 {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 370px;
  /* margin-top: 100px; */
  margin: 100px 0px 30px 370px;
  font-size: 40px;
  text-shadow: 2px 2px;
  font-style: italic;

}

.four img {
  width: 500px;
  margin-bottom: 20px;
  margin-left: 350px;
  border-radius: 15px;
}

.four img:hover {
  padding: 1px;
  filter: brightness(50%);
  border: 1px solid black;
  border-radius: 15px;
}

.four {
  margin: 10px;
  margin-left: 70px;

}

.four p {
  background-color: rgb(52, 52, 63);
  color: white;
  padding: 20px;
  font-size: 25px;
  border-style: hidden;
  margin-right: 30px;
  font-style: italic;

}

.four h5 {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* margin-left: 430px;
  margin-top: 120px; */
  margin: 100px 0px 30px 400px;
  font-size: 40px;
  text-shadow: 2px 2px;
  font-style: italic;


}


footer {
  background-color: rgb(202, 200, 211);
  height: 10vh;
  bottom: 0;
  width: 100%;
}

footer h3 {
  position: absolute;
  left: 30%;
  margin-top: 20px;
}